html
  head
    title!= title
  body
    h1 Going through the received array of animalsList
      table(border='1')
        thead
          th Name
          th Species
          th Breed
          th Age
          th Colour or markings
        tbody 
          each pet in animalsList
            tr
              td #{pet.name}
              td #{pet.species}
              td #{pet.breed}
              td #{pet.age}
              td #{pet.colour}
    h1 Enter the details of a new pet
      form(action="/petshop/pet" method="POST")
        table(border='1')
          thead
            th Name
            th Species
            th Breed
            th Age
            th Colour or markings
          tbody
            td 
              input(type="text", name="name")
            td
              input(type="text", name="species")
            td
              input(type="text", name="breed")
            td
              input(type="text", name="age")
            td
              input(type="text", name="colour")
            tr
            td
              button(type="submit") Submit